@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Style/MasterPage.cshtml";
}
@section featured
    {
    <ul class="nav nav-pills">
        <li style="width: 200px; background-color: #ff5c33; text-align:center">@Html.ActionLink("Customers", "IndexResult", "Account", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background-color: #00cc00; text-align:center">@Html.ActionLink("Sales", "Index", "Account", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background-color: #e6e600; text-align:center">@Html.ActionLink("Services", "Index", "Account", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background-color: #9999ff; text-align:center">@Html.ActionLink("Supplier", "Index", "Account", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background-color: #ff99ff; text-align:center">@Html.ActionLink("HR", "Index", "Account", new { @style = "color:Black;" })</li>
    </ul>
}
