


@{
    ViewBag.Title = "PIM";
}
@Html.Partial("Index")
<div style="float:left; width:200px; padding-top:100px; border-color:#333300">
    <ul class="nav nav-pills nav-stacked" style=" float:left;">
        <li style="width: 200px; background : linear-gradient(to right, #ccffff, #eaecc6 100%); text-align:center">@Html.ActionLink("Details", "Details", "HR", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background: linear-gradient(to right, #ccffff, #eaecc6 100%); text-align:center">@Html.ActionLink("Address", "Address", "HR", new { @style = "color:Black;" })</li>
        <li style="width: 200px;background:linear-gradient(to right, #ccffff, #eaecc6 100%); text-align:center">@Html.ActionLink("Family", "Family", "HR", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background : linear-gradient(to right, #ccffff, #eaecc6 100%); text-align:center">@Html.ActionLink("Education", "Education", "HR", new { @style = "color:Black;" })</li>
        <li style="width: 200px;background : linear-gradient(to right, #ccffff, #eaecc6 100%);text-align:center">@Html.ActionLink("Work", "Work", "HR", new { @style = "color:Black;" })</li>
    </ul>
</div>

