@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Style/MasterPage.cshtml";
}

@section featured
    {
    <ul class="nav nav-pills">
        <li style="width: 200px; background-color: #ff5c33; text-align:center;">@Html.ActionLink("Customers Request", "IndexResult", "Procurement", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background-color: #00cc00; text-align:center">@Html.ActionLink("Request Knowledge", "Index", "Procurement", new { @style = "color:Black;" })</li>
        <li style="width: 300px; background-color: #e6e600; text-align:center">@Html.ActionLink("Services Level Management", "Index", "Procurement", new { @style = "color:Black;" })</li>
        <li style="width: 200px; background-color: #9999ff; text-align:center">@Html.ActionLink("Surveys", "Index", "Procurement", new { @style = "color:Black;" })</li>
       <li style="width: 200px; background-color: #ff99ff; text-align:center">@Html.ActionLink("Tools", "Index", "Procurement", new { @style = "color:Black;" })</li>
       </ul>
       }
