
@model ERPMBA.Models.opportunities

@{
    ViewBag.Title = "opportunities";
}
@Html.Partial("Home")
<div class="tab-content" style=" float:left; width:60%;height:100%;">
    <div id="opportunities" class="tab-pane fade in active" style="color: #0026ff; width:100%;height:100%;">

        <form name="contactForm" method="post" action="" class="form-horizontal" role="form">

            <div class="col-lg-12">
                <div id="Contact" class="contact-form">
                    <div class="panel-heading">
                        <h3 align="center">Opportunity Details</h3>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">memberid</span>
                                    @Html.TextBoxFor(model => model.memberid, new { @class = "form-control", placeholder = "memberid" })
                                    <!--<input type="text" class="form-control" placeholder="Imie" id="inputName" required="required">-->
                                </div>
                            </td>


                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">Full name</span>
                                    @Html.TextBoxFor(model => model.fullname, new { @class = "form-control", placeholder = "fullname" })
                                    <!--<input type="text" class="form-control" placeholder="Nazwisko" id="inputSurname" required="required">-->
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">lastname</span>
                                    @Html.TextBoxFor(model => model.lastname, new { @class = "form-control", placeholder = "lastname" })
                                    <!--<input type="email" class="form-control" placeholder="Email" id="inputEmail" required="required">-->

                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">Gender</span>
                                    @Html.TextBoxFor(model => model.gender, new { @class = "form-control", placeholder = "gender" })
                                    <!--<input type="email" class="form-control" placeholder="Email" id="inputEmail" required="required">-->

                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">Date Of Birth</span>
                                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control", placeholder = "Date of Birth" })
                                    <!--<input type="text" class="form-control" placeholder="Imie" id="inputName" required="required">-->
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">citizenship</span>
                                    @Html.TextBoxFor(model => model.citizenship, new { @class = "form-control", placeholder = "citizenship" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->

                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">Race</span>
                                    @Html.TextBoxFor(model => model.Race, new { @class = "form-control", placeholder = "Race" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">mobile</span>
                                    @Html.TextBoxFor(model => model.mobile, new { @class = "form-control", placeholder = "mobile" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">email</span>
                                    @Html.TextBoxFor(model => model.email, new { @class = "email", placeholder = "email" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">postalcode</span>
                                    @Html.TextBoxFor(model => model.postalcode, new { @class = "form-control", placeholder = "postalcode" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">date_entered</span>
                                    @Html.TextBoxFor(model => model.date_entered, new { @class = "form-control", placeholder = "date_entered" })
                                    <!--<input type="text" class="form-control" placeholder="Nazwisko" id="inputSurname" required="required">-->
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">date_modified</span>
                                    @Html.TextBoxFor(model => model.date_modified, new { @class = "form-control", placeholder = "date_modified" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">deleted</span>
                                    @Html.TextBoxFor(model => model.deleted, new { @class = "form-control", placeholder = "deleted" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->

                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">opportunity_type</span>
                                    @Html.TextBoxFor(model => model.opportunity_type, new { @class = "form-control", placeholder = "opportunity_type" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">assigned_user_id</span>
                                    @Html.TextBoxFor(model => model.assigned_user_id, new { @class = "form-control", placeholder = "assigned_user_id" })
                                    <!--<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Treść wiadomości..." required="required"></textarea>-->
                                </div>
                            </td>
                        </tr>

                </div>
            </div>

        </form>

        <table align="center">
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" ">
                        submit

                    </button>
                </td>
                <td>
                    <button type="clear" class="btn btn-warning">
                        clear
                    </button>
                </td>
            </tr>
        </table>


    </div>
</div>